body{
	font-family: "Lato","Helvetica Neue",Helvetica, Arial, sans serif;
}

h2{
	font-size: 26px;
}

h3{
	font-weight:700;
}

img{
	max-width:100%;
}

#header{
	font-size: 22px;
	font-weight:100;
	margin-bottom: 45px;
	text-align: center;
}

#end{
	text-align:center;
	font-weight:100;
	font-size:16px;
	padding-top:30px;
}

/*.top h1{
	text-align:center;
}
*/

.top p{
	font-size:17px;
}



#webclips img{
	padding-bottom: 10px;
}

.nav{
	margin-top:32px;
}

a:hover{
	text-decoration:none;
}

#name{
	text-align:left;
	font-size:55px;
	font-weight:700;
}

#name a:hover{
	color:#337ab7;
}

#other{
	font-size:16px;
}
